.leaflet-container { height: 10em; margin-bottom: 2em; }

#simpleMap .leaflet-container { height: 6em; }
#centeredMap .leaflet-container { height: 10em; }
#customTiles .leaflet-container { height: 19em; }
#markers .leaflet-container { height: 27em; }
#radMarkers .leaflet-container { height: 33em; }
#clustered .leaflet-container { height: 33em; }
#locateMap .leaflet-container { height: 13em; }

@media print, screen and (min-width: 720px) {
    .ember-application {
        width: 40%;
        float: right;
    }
    .highlight {
        float: left;
        width: 58%;
    }

    p, h2, h1 { clear:both; }
}
